<div class="landing">
  <div class="jumbotron">
    <h1 class=>Plan, schedule, and post Instagram photos</h1>
    <p>An easy way to manage your Instagram photos and increase your social presence from your computer.</p>
    <p><%= link_to "Sign up", new_user_registration_path, class: "button button-primary" %></p>
  </div>

  <h2>The dead simple Instagram scheduler</h2>

  <ul>
    <li>post from computer</li>
    <li>multiple accounts</li>
    <li>easy queue view</li>
  </ul>

  <p class="center big">$5/month</p>
  <p class="center"><%= link_to "Sign up", new_user_registration_path, class: "button" %></p>

  <p>Post photos from your computer, no need for phone.</p>

  <ul>
    <li>no push notifications</li>
    <li>no phone</li>
    <li>no annoying reminders</li>
  </ul>

  <p>Schedule photos automatically, save time scheduling Instagram content. ScheduPic makes your life easier.</p>

  <h3>Join over 1000+ Instagram brands and influencers.</h3>

  <ul>
    <li>fully automated posting</li>
    <li>post when you sleep</li>
    <li>boost up your Instagram social presence</li>
  </ul>

  <h3>Secure</h3>
  <p>Your data are safe with us. We use encryption with 256bit cypher that protects your sensitive details.</p>
</div>
