<div class="jumbotron">
  <h1>Affordable way to schedule Instagram photos</h1>
  <p>Boost your social presence up around the clock as a brand or just an enthusiasts. We've got you covered!</p>
</div>

<p class="big center">$5/month</p>
<ul class="center">
  <li>for every 3 Instagram accounts</li>
  <li>up to 12 posts per day</li>
</ul>
<p class="center"><%= link_to "Sign up", new_user_registration_path, class: "button button-primary" %></p>

<p>Don't wait and increase your social presence. Save time. Improve engagement. <%= link_to "Sign up!", new_user_registration_path %></p>
