<h1>Edit picture</h1>

<%= render 'form', post: @post %>

<%= link_to 'Back', instagram_account_path(@post.instagram_account) %>
| <%= link_to 'Delete', instagram_account_post_path(@post.instagram_account), method: :delete, data: { confirm: "Are you sure?" } %>
